/* theme */

:root {
    --primary: #3498db;
    --action: #d35400;
    --primary-light: #e7f9f9;
    --accent: #0652dd;
    --warning: #ea2027;
    --success: #009432;
    --font-family: 'Open Sans', sans-serif;
    --box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
        0 1px 3px 1px rgb(60 64 67 / 15%);
    --border-radius: 3px;
    --gray-light: #ecf0f1;
    --border: 1px solid var(--gray-light);
    --color: #636466;
    --color-dark: #444;
    --color-primary: white;
    --gray: #636466;
    --gray-dark: #444;
    --max-width: 1200px;
    --footer-background: #0a3d62;
    --font-size-small: 14px;
    --font-size-regular: 16px;
    --font-weight-regular: 400;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
}

/* debug */

.b1 {
    background-color: red;
}

.b2 {
    background-color: blue;
}

.b3 {
    background-color: yellow;
}

.b4 {
    background-color: orange;
}

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: var(--font-family);
    color: var(--color);
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--color-dark);
}

/* flex */

.d-flex {
    display: flex;
}

.flex-row-nowrap {
    flex-flow: row nowrap;
}

.flex-row-wrap {
    flex-flow: row wrap;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.flex-fill {
    flex: 1;
}

/* margin */

.m-5 {
    margin: 5px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.m-10 {
    margin: 10px;
}

.m-20 {
    margin: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-50 {
    margin-right: 50px;
}

/* padding */

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.pb-20 {
    padding-bottom: 20px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* general */

.content {
    max-width: var(--max-width);
}


.app-contant {
    background-color: var(--gray);
}


.btn {
    border-radius: var(--border-radius);
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.btn:hover {
    opacity: 0.8;
    transition: opacity 0.4s;
}

.btn-small {
    padding: 5px 15px;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--color-primary);
    font-weight: 600;
}

.btn-action {
    background-color: var(--action);
    color: var(--color-primary);
    font-weight: 600;
}

.btn-primary-stroke {
    border: 1px solid var(--primary);
    color: var(--primary);
    background-color: white;
}

.block {
    padding: 20px;
    border-radius: var(--border-radius);
    background-color: white;
    box-shadow: var(--box-shadow);
}

.form-row {
    display: flex;
    flex-flow: column;
    margin-bottom: 15px;

}

.form-row label {
    margin-bottom: 5px;
    font-weight: var(--font-weight-semi-bold);
    color: var(--color-dark);
}

.form-row input,
textarea {
    font-family: var(--font-family);
    border: 0;
    border-radius: var(--border-radius);
    padding: 10px 15px;
    background-color: var(--gray-light);
}


.form-row textarea {
    min-height: 150px;
}

.form-row select {
    padding: 10px 10px;
    font-family: var(--font-family);
    border: 0;
    border-radius: var(--border-radius);
    background-color: var(--gray-light);
}



.form-errors {
    color: var(--warning);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-semi-bold);

}

/* sidebar */

.sidebar {
    min-width: 200px;
}

/* header */

header {
    box-shadow: var(--box-shadow);
}

.header-search {
    border-radius: var(--border-radius);
    background-color: var(--gray-light);
    max-width: 400px;
}

.header-search input {
    border: 0;
    outline: 0;
    background-color: var(--gray-light);
}

.header-logo {
    width: 150px;
}

.header-logo img {
    max-width: 150px;
}

/* footer */

footer {
    background-color: var(--footer-background);
    color: var(--color-primary);
}

/* sidebar */

/* ... */

a {
    color: inherit;
    text-decoration: none;
}

/* ... */

a {
    color: inherit;
    text-decoration: none;
}

/* ... */

/* sidebar */

.sidebar-nav a {
    display: block;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 5px;
    font-size: var(--font-size-small);
}

.sidebar-nav a:hover {
    opacity: 0.8;
    transition: opacity 0.4s;
}



/* ... */

.active {
    border-left: 5px solid var(--primary);
    background-color: var(--primary-light);
}


.question-content {
    border-bottom: 1px solid var(--gray-light);
}

.avatar {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

/* ... */

small {
    font-size: var(--font-size-small);
    font-family: var(--font-family);
}

/* ... */

.avatar {
    width: 25px;
    border-radius: 50%;
}

.clickable {
    color: var(--primary);
    font-weight: var(--font-weight-semi-bold);
    cursor: pointer;
}

.text-small {
    font-size: var(--font-size-small);
}

/* ... */

.pb-20 {
    padding-bottom: 20px;
}

/* ... */

.mr-10 {
    margin-right: 10px;
}


/* ... */

.block-shadow:hover {
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.4s;
}

/* ... */

/* question */

.question-content {
    border-bottom: 1px solid var(--gray-light);
    max-width: 800px;
    word-wrap: break-word;
}

.rating-up {
    color: var(--primary);
}

.rating-down {
    color: var(--warning);
}

small {
    font-size: var(--font-size-small);
    font-family: var(--font-family);
}

clickable {
    color: var(--primary);
    font-weight: var(--font-weight-semi-bold);
    cursor: pointer;
}

.text-small {
    font-size: var(--font-size-small);
}

.block-shadow:hover {
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.4s;
}

.blur{
    backdrop-filter: blur(7px);
  }

  .bg-action-main{
    background-color: #c0392b;
  }

  .bg-action-second{
    background-color: #d35400;
  }

.semaine{
    font-size: 28px;
    font-weight: bold;
    color: #3498db;
    background-color: #2c3e50;
    padding: 4px 0px 4px 10px;
}

.seance{
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
    color: #34495e;
    background-color: #ecf0f1;
    padding: 4px 0px 4px 10px;
    margin-bottom: 4px;
}



.bg-main{
    background-color: #e74c3c !important;
}

.bg-seconds{
    background-color: #bdc3c7 !important;
}

.link_edit{
    color: white;
    text-decoration: none;
    padding: 2px;
    margin-bottom: 2px;
}

.link_edit:hover{
    color: #8de0ff;
}

.exercices {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    color: black;
    padding: 1rem;
    margin: 1rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border-radius: 1rem;
    img{
        padding: 0.5rem;
        border-radius: 1rem;
        width: 200px;
    }
}



/*
*Border awsome
 */

@import url('https://fonts.googleapis.com/css?family=Raleway:200');


#box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    color: white;
    font-family: 'Raleway';
    font-size: 2.5rem;
}

tbody{
    tr{
        td{
            text-align: center;
        }
    }
}

.left{
    text-align: left;
}

.pagination{
    display: flex;
    padding-right: 0;
    list-style: none;
        li{
            padding: 0.8rem;
        }
}

.bootstrap-table{
    box-shadow: var(--shadowbox);
    background-color: var(--white-cng);
    tr{
        border: 1px solid black;
        td{
            border-collapse:collapse;

        }
    }


}