@use "reset" as *;
@use "base" as *;
@use "classes" as *;
@use "utils" as *;
@use "animations" as *;
@use "media-queries" as *;

body {
  --dev-green: #00ff99;
  --bg-color: #173754;
  --bg-light: #2c3e50;
  --text-primary: #FFFFFF;
  --text-secondary: #FFFFFF;
  --href-color: white;
  --href-color-h: #2ecc71;
}

body.dark {
  --bg-color: #13161a;
  --bg-light: #173754;
  --text-primary: #fff;
  --text-secondary: #ffffff;
  --href-color: #7a8cc7;
  --href-color-h: #7ac78d;
}

body {
  font-family: var(--font-family-lato);
  color: var(--text-secondary);
}

/* Main container */
.vp-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.vp-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-items: center;
  background-color: var(--bg-light);
}

/* Header */
/* -----------------------------------------------NAVBAR ------------------------------------------*/
header {
  background: var(--gray);

  nav {
    display: flex;
    flex-flow: row nowrap;
    padding: 2rem 1rem;
    justify-content: center;
    align-items: center;
    @include xs {
      flex-flow: column wrap;
      align-items: start;
      padding: 2rem 3rem;
    }
    i{
      @include xs {
       font-size: 1.4rem;
      }
    }

    h2 {
      margin: 0;
    }

    .logo {
      display: flex;
      flex-flow: row nowrap;
      //align-items: center;

      i {
        display: flex;
        margin-right: 0.5rem;
        color: var(--dev-green);
        font-size: 1.6rem;
      }

      a {
        font-size: 1.6rem;
        @include xs {

        }
      }
    }

    ul {
      margin-left: 1rem;
      display: flex;
      flex-flow: row nowrap;
      font-weight: 700;
      @include xs {
        flex-flow: column nowrap;
        font-weight: 400;
        margin-left: 0rem;
        margin-top: 2rem;
      }

      li {
        padding: 1rem;
        transition-duration: 0.8s;

        a {
          text-transform: uppercase;
        }
      }
    }

  }
}

/*-----------------------------General Sections--------------------------------------------------*/
section {
  display: flex;
  flex-flow: column wrap;
  padding: 2rem 0px 2rem 0px;
  max-width: 1100px;
  justify-content: center;
  align-items: center;
  @include xs {
    padding: 2rem;
  }
}

/* ----------------------ABOUT ----------------------------------------------------------------------*/


#about {
  .profile-picture img {
    border-radius: 50%;
    max-height: 20vh;
  }

  .button1 {
    margin: 1rem auto 0px auto;
    min-width: 150px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid white;
    padding: 1rem 50px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;

    &:hover {
      background: white;
      color: var(--dev-green);
    }
  }

  .desc {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

}

/* -------------------------PORTFOLIO---------------------------- */
#portfolio {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  @include xs {
    flex-flow: row wrap;
  }

  .projet {
    margin: 1rem;
  }

  img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    min-height: 125px;
    max-height: 25vh;
    max-width: 100%;
    border-radius: 10px;
    transition: transform 1s;
    transition-duration: 0.3s;

    &:hover {
      filter: none;
      -webkit-filter: none;
      transform: scale(1.1);
      transition-duration: 0.3s;
    }
  }
}

/* -------------------------------------------------------SKILLS--------------------------------------------- */
#skills {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;

  .item-skill {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 130px;

    img {
      cursor: pointer;
      color: white;
      height: 70%;
      transition: transform 1s;
      transition-duration: 1s;

      &:hover {
        transform: scale(1.3);
        transition-duration: 1s;
      }
    }
  }

  .bar {
    margin-top: 0.5rem;
    height: 0.8rem;
    border-radius: 4px;
    border: 1px solid black;
    background: #16a085;
    width: 60%;

    .progress {
      background: var(--dev-green);
      height: 100%;
      border-radius: 2px;
    }
  }

}

.html-css {
  width: 100%;
}

.git {
  width: 61%;
}

.php {
  width: 70%;
}


.net {
  width: 50%;
}

.js {
  width: 51%;
}

.java {
  width: 20%;
}

.node {
  width: 15%;
}

.react {
  width: 5%;
}

.docker {
  width: 10%;
}

/* -----------------------------------------EXPERIENCE----------------------------------------------------------- */
#experience {
  .exp {
    display: grid;
    grid-template-columns: 1fr 2px 1fr;
    grid-template-rows: 1fr;
    place-content: center center;
    align-items: center;
    gap: 0px 30px;

    .exp-date {
      font-weight: 600;
      letter-spacing: 0.2rem;
    }

    .exp-separator {
      display: flex;
      align-items: center;
      width: 2px;
      height: 100%;
      background: black;
    }

    .point {
      height: 0.8rem;
      width: 0.1rem;
      background: var(--dev-green);
      border-radius: 10px;
      animation: grandir 1s;
      animation-iteration-count: infinite;
    }

    .exp-details {
      text-align: center;
      box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
      background: white;
      color: black;
      padding: 1rem;
      border-radius: 10px;
      transition: transform 1s;
      transition-duration: 0.5s;
      img{
        height: 40px;
      }
      p {
        text-align: left;
        margin-left: 1rem;
      }

      &:hover {
        transform: scale(1.05);
        transition-duration: 0.5s;
      }
    }
  }
}


/*EDUCATION */
#education {
  width: 100%;
  table{
    width: 100%;
    td{
      padding: 0.5rem;

    }
  }
}


/* --------------------------------- FOOTER------------------------------------------------------------------- */
footer {
  background: var(--gray);
  padding: 2rem 2rem;
  text-align: center;
  font-size: 2rem;
  svg {
    font-size: 0.8rem;
  }
}

