{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

	<nav class="navbar navbar-expand bg-dark">
			  <div class="container-fluid">
				
				<div class="collapse navbar-collapse" id="navbarNav">
				  <ul class="navbar-nav">
					<li class="nav-item">
					  <a class="nav-link active text-white"  href="#div1">À propos de moi</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link active text-white"  href="#div2">Projets</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link active text-white"  href="#div3">Compétences</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link active text-white"  href="#div4">Expériences</a>
					</li>
				  </ul>
				</div>
			  </div>
	</nav>


    <div class="container px-4">
<br>	
	

        <div class="row">            
            <div class="col-9">
                <h1>CHAKHGUIR CHAKHGUEREEV</h1>
				
            </div>
			<div class="col-3">
                <img src="img/Photo (1).png"  style="width:100%; height:auto" alt="photo perso">
            </div>
        </div>
		<hr>
		
		

		<div class="row">
            <div class="col-3">
                <h6>Contact</h6>
				<a href="mailto:chakhguir.chakhguereev@etu.uca.fr">Contactez-moi par mail
				</a>
				<p>
                      <br>Clermont-Ferrand, France
			    </p>
            </div>
			
            <div class="col-9">
                <h3>À propos de moi</h3>
				
				<p>
				Étudiant de première année en formation de BUT à l'IUT d'Aubière<br>
				Administrateur réseau à en devenir et animé par les études dans l'informatique, je suis un étudiant
				  dans une formation de BUT au sein de l'IUT d'Aubière dans le but de me spécialiser dans la cybersécurité.
				  <br>
				  Inspiré par l'informatique dans sa généralité, je suis un adepte dans plusieurs domaines relevant des réseaux
				  informatiques.
				</p>
				<p>
          <br>
				<h6>Mes qualités</h6><br>
        Je suis <strong>impliqué</strong> dans mon travail ainsi que dans mes projets, cela se traduit par mon assiduité, mon respect des conditions et
        ma concentration.
        <br>
        <br>
        Je suis <strong>créatif</strong>, que ce soit en programmation ou en réseau, la créativité est une qualité nécessaire à la production ainsi qu'au
        développement d'un projet, j'ai donc entrainé ma créativité à travers des activités artistiques tel que l'écriture ou le dessin.
        <br>
        <br>
        Je suis <strong>passioné</strong>, depuis mon enfance je m'intéresse à l'informatique ainsi qu'à la programmation, je ne perds pas patience même quand
        la tâche est difficile puisque c'est que je j'aime faire.
        <br>
        <br>
        Je suis <strong>trilingue</strong>, je parle couramment le français, l'anglais et le russe. Cette aptitude linguistique, avec bien-sûr de la politesse et du respect,
        me permet de communiquer avec aisance avec une grande majorité de clients ou de possibles employés avec lequels je vais pouvoir échanger.
        Cela me permet aussi de m'informer à l'aide des ressources pouvant venir d'autres pays.
				</p>
            </div>
			
			
			<div class="col-12"  id="div2">
               <h3>Pourquoi ce site ?</h3>
			   <p>Ce site internet est mon portfolio, il a pour but de vous introduire à mes compétences, mes projets ainsi que mon expérience.
				<br>Vous trouverez joint à cette page, mon CV ainsi que mon contact.
			</p>
            </div>
			
			
			<div class="col-12" id="div3">
               <h3>Projets</h3>
			   <p>
			      Durant mes années au sein du lycée Jeanne d'Arc, j'ai pu participer à différents projets, 
				  notamment la création d'un programme en Python permettant de joueur une partie contre l'ordinateur.                    
			   </p>
			   <div class="row">
				   <div class="col-4">
						<a href="#">
						<img src="img/ex6.png" class="img-thumbnail" alt="...">
						</a>
				   </div>
				   <div class="col">
				   J'ai pu avec l'aide de mon professeur et de mes camarades de classes, créer un jeu de bataille navale contre l'ordinateur, entièrement en Python.
           Je ne peux malheuresement pas le joindre avec ce site, je n'ai pas pu récupérer les fichiers fait lors des cours de NSI de lycée, mais je vais très prochainement
           joindre une version plus complète et améliorer de ce que j'ai pu faire par le passé.
			   </div>
            </div>
			
			<div class="col-12" id="div3">
               <h3>Compétences</h3>
			   <p>
			      Mes compétences se divisent dans plusieurs domaines informatiques.
                      Ma formation actuelle me permet d'avoir de solides bases en programmation en python, en batch ainsi qu'en html et en css puisque
                      ce site est entièrement fait par ma propre personne à l'aide des cours que j'ai pu avoir en présentiel et avec des connaissances supplémentaires.              
			   </p>
			   

			   <div class="row">
				   <div class="col-2">
				   <img src="img/ex2.png" class="img-thumbnail" alt="...">
				   </div>
				   
				   <div class="progress col-6" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
					  <div class="progress-bar" style="width: 35%">35%</div>
					  
            
				</div>
				<div class="col-4">
          <p>Le language de programmation HTML est un des languages auquel ma formation me forme à l'utilisation et
          à la maitrise, je suis donc actuellement à un niveau adepte, malgré cela je sais utiliser le framework CSS nommé
          Bootstrap. Ce site est notamment fait en utilisant ce framework.
          </p>
          </div>
          
          <div class="row">
            <div class="col-4">
              <p>Le language de programmation CSS est aussi un des languages auquel ma formation me forme à l'utilisation et
              à la maitrise, je suis là aussi au niveau adepte.
              </p></div>
					<div class="progress col-6" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
					  <div class="progress-bar" style="width: 35%">35%</div>					
					</div>
					<div class="col-2">
				   <img src="img/ex3.png" class="img-thumbnail" alt="...">
				   </div>
          </div>
          <div class="row">
            <div class="col-2">
              <img src="img/ex4.png" class="img-thumbnail" alt="...">
              </div>
            <div class="progress col-6" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar" style="width: 50%">50%</div>					
            </div>
            <div class="col-4">
              <p>Le language de programmation Python est le language que j'ai principalement étudié au lycée, durant trois ans j'ai pu l'apprendre
                et le maitriser au cours de mes études.
              </p></div>   
          </div>

          <div class="row">
            <div class="col-4">
              <p>Le language de programmation du shell de Linux est le Bash, ce language est inclus dans les matières que j'étudie dans ma formation,
                il me permet d'utiliser les fonctionnalités réseaux des ordinateurs sous Linux et à travers la répétition d'exercices je suis maintenant
                à l'aise avec.
              </p></div>
					<div class="progress col-6" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
					  <div class="progress-bar" style="width: 30%">40%</div>					
					</div>
					<div class="col-2">
				   <img src="img/ex5.png" class="img-thumbnail" alt="...">
				   </div>
          </div>

          </div>
								
				
            </div>
			
			<div class="col-12" id="div4">
               <h3>Expériences</h3>
			   <p>
			      Étant encore actuellement en formation, mes expériences sont malheuresement peu nombreuses, j'ai pu malgré cela en avoir quelques unes,
                      notamment un stage de deux semaines où j'ai eu la chance de participer dans la répération d'électroménager, ce qui m'a familiarisé avec l'électronique, ainsi qu'un
                      job d'été de deux mois durant l'année de 2022, où j'ai pu me familiariser par rapport la communication, par exemple lors de mes échanges avec des clients.             
			   </p>
            </div>
			
        </div>	
		  
		
		
	</div>	


	<footer class="mt-auto text-center text-white-50 bg-dark">
		Cover template for 
		CHAKHGUEREEV.2022
		 <br>Tout droits réservés.
	</footer>
	

{% endblock %}
