{% extends 'base.html.twig' %}

{% block title %}Nutrition{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">

        <section id="plats">
            <div class="container">
                <div class="red-divider"></div>
                <div class="heading">
                    <h2>Nutritionn</h2>
                </div>
                <p>Proposer des photos de plats, en cliquant ouvrir un affichage à côté pour montrer les ingrédients</p>
                <h2>Pyramide inversée</h2>
                <h2>Plats</h2>

                <div class="row">
                    <div class="col-sm-3">
                        <div class="education-block">                        
                            <i class="fas fa-university"></i>
                            <h3>Brocolis, champignons, poisson</h3>                        
                            <div class="red-divider"></div>
                            <p>C'est bon</p>
                            <p>C'est équilibré</p>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="education-block">                        
                            <i class="fas fa-university"></i>
                            <h3>Poireaux champignons</h3>                        
                            <div class="red-divider"></div>
                            <p>C'est bon</p>
                            <p>C'est équilibré</p>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="education-block">                        
                            <i class="fas fa-university"></i>
                            <h3>Carottes cuites à l’eau</h3>                        
                            <div class="red-divider"></div>
                            <p>C'est bon</p>
                            <p>récupérer le bouillon plein de vitamines pour me faire un detox !</p>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="education-block">                        
                            <i class="fas fa-university"></i>
                            <h3>Du congelé</h3>                        
                            <div class="red-divider"></div>
                            <p>Ca peut toujours être pratique</p>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="education-block">                        
                            <i class="fas fa-university"></i>
                            <h3>Carottes cuites à l’eau</h3>                        
                            <div class="red-divider"></div>
                            <p>C'est bon</p>
                            <p>récupérer le bouillon plein de vitamines pour me faire un detox !</p>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="education-block">                        
                            <i class="fas fa-university"></i>
                            <h3>3 Œufs + Thons aux épices + oignon</h3>                        
                            <div class="red-divider"></div>
                            <p>C'est bon</p>
                            <p>Des gros protéines !</p>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="education-block">                        
                            <i class="fas fa-university"></i>
                            <h3>Poivrons à l’huile coco</h3>                        
                            <div class="red-divider"></div>
                            <p>C'est bon</p>
                            <p>Parfum de coco mmmh !</p>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="education-block">                        
                            <i class="fas fa-university"></i>
                            <h3>Crevettes à la poêle</h3>                        
                            <div class="red-divider"></div>
                            <p>C'est bon</p>
                            <p>Parfum de coco mmmh !</p>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="education-block">                        
                            <i class="fas fa-university"></i>
                            <h3>Dinde blanquette</h3>                        
                            <div class="red-divider"></div>
                            <p>C'est bon</p>
                            <p>Parfum de coco mmmh !</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section>
            <h2>Ingrédient à avoir au frigo</h2>
            <h3>Protéines :</h3>
            <p>
                Œufs élevé en plein air<br>
                Champignons<br>
                Poulet<br>
                Dinde<br>
                Poisson congelé et en conserve<br>
                Saumon frais<br>
                Steak bœuf saignant<br>
            </p>

            <h3>Accompagnements :</h3>
            <p>
                Courgette<br>
                Patate douce<br>
                Poireaux<br>
                Purée de patate douce<br>
                Quinoa<br>
                Pâtes complètes<br>
                Riz basmati<br>
                Poivrons<br>
                Epinards<br>
                Brocolis<br>
                Choux<br>
                Haricots<br>
            </p>

            <h3>Salades :</h3>
            <p>
                Concombres à la crème fraiche<br>
                Tomate mozzarella <br>
                Salade en étoile a la vinaigrette moutarde sans gras<br>
                Tomate poivre échalote<br>
                Betterave ail a la mayennaise<br>
                Tomates, concombre poulet et avocat aux trois huiles : olives, noix grecque et sésame ou chanvre<br>
                Salade d’endives<br>
            </p>

            <h3>Dessert :</h3>
            <p>
                Yaourt grecque, céréales miel et cannelle<br>
                Fruits <br>
                Pomme<br>
            </p>

            <h3>Boire :</h3>
            <p>
                Thé vert<br>
                Café sans lait<br>
                Eau<br>
                Détox<br>
                Eau gazeuse<br>
            </p>

            <h3>nack :</h3>
            <p>
                Noix, toute sorte<br>
                Bœuf séché<br>	
                Fruits secs<br>
                Caséine<br>
                Fromage blanc<br>
            </p>
            <h3>Compléments : </h3>
            <p>
                Ashwagandha
            </p>

            <h3>Interdictions sauf le week-end :</h3>
            <p>
                Alcool<br>
                Sucre<br>
                Pates<br>
                Pain blanc<br>
                Whey<br>
            </p>


            <h3>Relantir la faim</h3>
            <p>
                Concombres  beaucoup d’eau<br>
                Manger des fibres<br>
                Volume de nourriture dans le ventre<br>
                Céréales complètes<br>
                Manger lentement<br>
            </p>      
        </section>






    </div>
{% endblock %}
