{% extends 'base.html.twig' %}

{% block title %}Nutrition
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/test.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
	<h1>Titre principal</h1>
        <p id='p0'></p>
        
        <p id='p1'></p>
        <p id='p2'></p>
        <p id='p3'></p>
{% endblock %}
