{% extends 'base.html.twig' %}

{% block title %}Saisi journalier{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Saisie journalière pour {{ "now"|date("d/m/Y") }}</h1>

        <form>
            <div class="form-group">
                <label for="poids">Mon poids</label>
                <input type="number" class="form-control" id="poids" aria-describedby="poidsHelp">
                <small id="poidsHelp" class="form-text text-muted">Votre pesée de préference le matin nu, après selles</small>
            </div>


            <div class="form-group">
                <label for="exampleFormControlSelect2">Mon humeur</label>
                <select class="form-control" id="exampleFormControlSelect2">
                    <option>Super heureux</option>
                    <option>Heureux</option>
                    <option>Ca va</option>
                    <option>Enervé</option>
                    <option>Stressé</option>
                    <option>Malheureux</option>
                </select>
            </div>

            <div class="form-group">
                <label for="exampleFormControlSelect2">Ma forme physique</label>
                <select class="form-control" id="exampleFormControlSelect2">
                    <option>Super</option>
                    <option>Bien</option>
                    <option>Ca va</option>
                    <option>Fatigué</option>
                    <option>Faible</option>
                    <option>Malade</option>
                </select>
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="jeune">
                <label class="form-check-label" for="jeune">Jeune respecté</label>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="entrainement">
                <label class="form-check-label" for="entrainement">Entrainement fait</label>
            </div>

             <div class="form-group">
                <label for="exampleFormControlSelect2">Séance bien être</label>
                <select class="form-control" id="exampleFormControlSelect2">
                    <option>Sophrologie</option>
                    <option>Méditation</option>
                    <option>Chill</option>
                    <option>Promenade</option>
                    <option>Masque détox</option>
                    <option>Relaxation</option>
                </select>
            </div>

            <div class="form-group">
                <label for="reveil">Heure de réveil</label>
                <input type="time" class="form-control" id="reveil" aria-describedby="reveilHelp">
                <small id="reveilHelp" class="form-text text-muted">Votre pesée de préference le matin nu, après selles</small>
            </div>
            
            <div class="form-group">
                <label for="dodo">Heure de couchée</label>
                <input type="time" class="form-control" id="dodo" aria-describedby="dodoHelp">
                <small id="dodoHelp" class="form-text text-muted">Votre pesée de préference le matin nu, après selles</small>
            </div>
            
            <button type="submit" class="btn btn-primary btn-lg">Sauvegarder</button>
        </form>
    </div>
{% endblock %}
