<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
{% apply inline_css(source('@email_css/email.css')) %}

    <h1>Vous avez fait une demande de réinitialisation de mot de passe</h1>
    <p>Pour finaliser votre demande vous pouvez cliquer sur le lien ci-dessous</p>
    <a href="{{ url('reset-password', { token: token }) }}">Changer mon mot de passe</a>
{% endapply %}

</body>
</html>