@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family-lato);
  color: var(--text);
  font-size: 1.6rem;
}

p {
  margin: 1rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 2rem 0;
}

ul {
  list-style: none;
}

a {
  color: var(--href-color);
  text-decoration: none;
}

a:hover {
  color: var(--href-color-h);
}

img {
  max-width: 100%;
}

.title-small {
  letter-spacing: 0.5rem;
  font-size: 1.7rem;
}

.text-primary {
  color: var(--primary);
}
.text-hint {
  color: var(--hint);
}

.heading {
  color: var(--text-primary);
  text-transform: uppercase;
  text-align: center;
  padding: 2rem 0;
}

.mb-5 {
  margin-bottom: 5rem;
}

@keyframes grandir {
  0% {
    height: 2px;
  }
  10% {
    height: 4px;
  }
  30% {
    height: 10px;
  }
  50% {
    height: 14px;
  }
  70% {
    height: 18px;
  }
  100% {
    height: 22px;
  }
}
.gradient-border {
  --borderWidth: 4px;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* Landscape phones and down */
/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Large desktop */
body {
  --dev-green: #63cdda;
  --bg-color: #596275;
  --bg-light: #ecf0f1;
  --text-primary: #574b90;
  --text-secondary: black;
  --href-color: #cc4764;
  --href-color-h: #e74c3c;
  --gray: #333;
  --bar: #2980b9;
  --text-footer: #FFFFFF;
  --text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black, 0 0 2px black;
}

body.dark {
  --dev-green: #00ff99;
  --bg-color: #173754;
  --bg-light: #2c3e50;
  --text-primary: #FFFFFF;
  --text-secondary: #FFFFFF;
  --href-color: white;
  --href-color-h: #2ecc71;
  --gray: #333;
  --bar: #16a085;
  --text-footer: #FFFFFF;
}

body {
  font-family: var(--font-family-lato);
  color: var(--text-secondary);
  --shadowbox: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --bg-light-cng: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
  --white-cng: white;
}

/* Main container */
.vp-container {
  background-color: var(--gray-light);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.vp-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-items: center;
  padding: 20px;
  width: 100%;
}

.sidebar {
  display: flex;
  flex-flow: column;
  padding: 2rem;
  margin-right: 5rem;
}
@media (max-width: 767px) {
  .sidebar {
    position: fixed;
    top: 66px;
    left: 0;
    font-size: 1.6rem;
    font-weight: 700;
    margin-left: -100%;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    transition: all 0.5s ease;
    width: 100%;
    height: 100vh;
    z-index: 3;
  }
  .sidebar h5 {
    color: black;
  }
  .sidebar i {
    font-size: 1.6rem;
    color: black;
  }
  .sidebar a {
    color: black;
    margin-left: 1rem;
  }
}

.youtube-video {
  aspect-ratio: 16/9;
  width: 100%;
}

.jst-hours {
  display: none;
}

.jst-minutes {
  float: left;
}

.jst-seconds {
  float: left;
}

.jst-clearDiv {
  clear: both;
}

.jst-timeout {
  color: white;
}

.see {
  padding-top: 22px;
  padding-bottom: 20px;
  color: #126dc7;
  font-weight: 700;
}

.action-bg {
  background-color: #95a5a6;
}

.bg-main-prog {
  background-color: #e74c3c;
}

.exercice-view {
  padding: 2rem 0;
  width: 100%;
  margin: 2rem 0;
  box-shadow: var(--shadowbox);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .exercice-view {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding: 0;
    padding-bottom: 2rem;
  }
}
.exercice-view img {
  border-radius: 8px;
  box-shadow: var(--shadowbox);
}
@media (max-width: 767px) {
  .exercice-view img {
    width: 100%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.exercice-view h5 {
  font-weight: 800;
}
.exercice-view button {
  border-radius: 6px;
}

.btn-done {
  margin: 0.5rem 0px 3rem 0px;
}

/*   Header     */
header {
  display: flex;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  flex-flow: row nowrap;
  padding: 2rem;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    justify-content: end;
    width: 100%;
    z-index: 2;
  }
}
header .navbar {
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  header .navbar .header-search {
    display: none;
  }
}
header .navbar .header-connect {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
header .navbar .header-connect img {
  margin-right: 1rem;
}
header .navbar .header-connect .navbar-brand {
  display: flex;
}
@media (max-width: 767px) {
  header .navbar .header-connect {
    display: none;
  }
}
@media (max-width: 767px) {
  header .navbar .header-connect {
    display: none;
  }
}
header .bars-menu {
  display: none;
}
@media (max-width: 767px) {
  header .bars-menu {
    display: flex;
    font-size: 2.6rem;
  }
}

.mobile-menu {
  margin-left: 0;
}

#logout {
  display: none;
}
@media (max-width: 767px) {
  #logout {
    display: inline;
  }
}

@media (max-width: 767px) {
  .app-content {
    margin-top: 60px;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 50%; /* Positionne la modale à 50% du haut de la fenêtre */
  left: 50%; /* Positionne la modale à 50% du côté gauche de la fenêtre */
  transform: translate(-50%, -50%); /* Déplace la modale de 50% vers le haut et la gauche pour la centrer précisément */
  min-width: 101%;
  min-height: 101vh;
  background-color: rgba(33, 37, 41, 0.8);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  transition: all 0.5s ease;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre portée pour un effet de profondeur */
  z-index: 1000; /* S'assure que la modale apparaît au-dessus des autres éléments */
  flex-direction: column;
  justify-content: center; /* Centre horizontalement le contenu dans la modale */
  align-items: center; /* Centre verticalement le contenu dans la modale */
}
.modal .modal-content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 767px) {
  .modal .modal-content {
    width: 100%;
  }
}
.modal .modal-content .modal-inner-view {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  color: white;
  font-weight: 700;
  display: flex;
  flex-flow: column;
  align-items: stretch;
}
.modal .modal-content .modal-inner-view .demo img {
  width: 100%;
  flex: 1;
  border-radius: 1rem;
  box-shadow: var(--shadowbox);
}
@media (max-width: 767px) {
  .modal .modal-content .modal-inner-view .demo img {
    display: block;
  }
}
@media (max-width: 767px) {
  .modal .modal-content .modal-inner-view .demo iframe {
    display: none;
  }
}
.modal .modal-content .modal-inner-view .consigne {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100px;
  max-width: 500px;
}
.modal .modal-content .modal-inner-view .commandes {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
.modal .modal-content .modal-inner-view p {
  font-size: 1rem;
}
.modal .modal-content .modal-inner-view h4, .modal .modal-content .modal-inner-view h5 {
  color: white;
  margin: 2px 0;
}
.modal .modal-content .modal-inner-view .exercice-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.modal .modal-content .modal-inner-view .exercice-info #ordonance {
  flex: 1;
  padding: 1rem 0;
}
.modal .modal-content .modal-inner-view .exercice-info #exercice {
  flex: 1;
}
.modal .modal-content .modal-inner-view .exercice-info img {
  width: 100%;
  border-radius: 4px;
}

.alert {
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
  color: white;
  font-weight: 700;
}
.alert-info {
  background-color: #3498db;
}
.alert-success {
  background-color: #2ecc71;
}
.alert-danger {
  background-color: #e74c3c;
}

form[name=savers] {
  display: flex;
  box-shadow: var(--shadowbox);
  background-color: var(--white-cng);
  margin-top: 6px;
  padding: 1rem;
  flex-flow: column;
  justify-content: center;
}
form[name=savers] .form-row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem 0;
}
form[name=savers] .form-row label {
  margin-bottom: 2px;
}
form[name=savers] .help-text {
  font-size: smaller;
}

.profile-acces {
  display: none !important;
}
@media (max-width: 767px) {
  .profile-acces {
    display: block !important;
  }
}

/* Espace profile */
.profile-home {
  background-color: var(--white-cng);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.profile-home .photo-profile {
  border-radius: 1rem;
  box-shadow: var(--shadowbox);
}

.seances .seance {
  background-color: var(--white-cng);
  box-shadow: var(--shadowbox);
}
.seances .exercice-view {
  background-color: var(--white-cng);
}

.form_inputt {
  box-shadow: var(--shadowbox);
  background-color: var(--white-cng);
  padding: 1rem;
  display: flex;
  flex-flow: column;
}
.form_inputt form {
  display: flex;
  flex-flow: column;
}

.grid-check {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  padding: 0 1rem 1rem 1rem;
}
.grid-check input {
  margin-left: 2rem;
}

.avant-apres {
  padding: 0.2rem;
  justify-content: space-around;
}
.avant-apres img {
  margin: 0.2rem;
}

/*# sourceMappingURL=challenger.css.map */
