body {
    --dev-green: #2ecc71;

    --bg-color: #173754;
    --bg-light: #2c3e50;
    --text-primary: #FFFFFF;
    --text-secondary: #FFFFFF;
    --href-color: white;
    --href-color-h: #2ecc71;
}

body.dark {
    --bg-color: #13161a;
    --bg-light: #173754;
    --text-primary: #fff;
    --text-secondary: #ffffff;
    --href-color: #7a8cc7;
    --href-color-h: #7ac78d;
}

body {
    font-family: 'Lato', sans-serif;
    color: var(--text-secondary);
    background-color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: var(--href-color);
    text-decoration: none;
}

a:hover {
    color: var(--href-color-h);
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    margin: 0px;
}


/* Main container */
.vp-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.vp-content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-items: center;
    background-color: var(--bg-light);
}


/* -----------------------------------------------NAVBAR ------------------------------------------*/
nav {
    flex-basis: 60px;
    background: #333;
    padding: 1rem 1rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.logo i {
    display: flex;
    margin-right: 0.5rem;
    color: var(--dev-green);
    font-size: 1.6rem;
}

.logo a {
    font-size: 1.6rem;
}

nav ul {
    display: flex;
    flex-flow: column wrap;
    list-style: none;
    font-weight: 700;
}

.nav-item li a:hover,
.nav-item li.active a {
    color: #d82c2e !important;
    background: white;
    border-radius: 0px;
}


nav ul li {
    padding: 1rem;
    transition-duration: 0.8s;
}

nav ul li a {
    height: 100%;
    padding: inherit;
    text-transform: uppercase;
}

.nav-item:hover {
    background: #555555;
    transition-duration: 0.8s;
}

/*-----------------------------General Sections--------------------------------------------------*/
section {
    display: flex;
    flex-flow: column;
    justify-items: center;
    padding: 2rem 0px 2rem 0px;
    max-width: 1100px;
}


.heading {
    color: var(--text-primary);
    text-transform: uppercase;
    text-align: center;
    padding: 2rem 0;
}


/* ----------------------ABOUT ----------------------------------------------------------------------*/
#about {
    background-color: var(--bg-light);
}

#about .button1 {
    text-align: center;
    display: block;
    margin: 1rem auto 0px auto;
    max-width: 150px;
}

.profile-picture img {
    text-align: center;
    margin: 0 auto;
    border-radius: 200px;
    display: block;
    max-height: 30vh;
}

.button1 {
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
    padding: 1rem 50px;
    border-radius: 3px;
    display: inline-block;
    transition: all 0.3s ease-in 0s;
    margin-top: 10px;
    text-decoration: none;
}

.button1:hover {
    background: white;
    color: var(--dev-green);
    text-decoration: none;
}

.desc {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}


/* -------------------------PORTFOLIO---------------------------- */
#portfolio {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    background: var(--bg-light);
    justify-content: space-evenly;
}

#portfolio .projet {
    margin: 1rem;
}

#portfolio h2 {
    color: var(--text-secondary);
}

#portfolio img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    min-height: 125px;
    max-height: 30vh;
    max-width: 100%;
    border: 4px solid rgba(255, 255, 255, .55);
    border-radius: 12px;
    transition: transform 1s;
    transition-duration: 1s;
}


#portfolio img:hover {
    filter: none;
    -webkit-filter: none;
    transform: scale(1.1);
    transition-duration: 1s;
}


/* -------------------------------------------------------SKILLS--------------------------------------------- */
#skills {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
}


.bar {
    margin-top: 0.5rem;
    height: 0.8rem;
    border-radius: 4px;
    border: 1px solid black;
    background: #16a085;
    width: 60%;
}

#skills .item-skill img {
    cursor: pointer;
    color: white;
    height: 70%;
    transition: transform 1s;
    transition-duration: 1s;
}

#skills .item-skill img:hover {
    transform: scale(1.3);
    transition-duration: 1s;
}


.item-skill {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 130px;
}

.progress {
    background: #00ff99;
    height: 100%;
    border-radius: 2px;
}

.html-css {
    width: 72%;
}

.git {
    width: 61%;
}

.php {
    width: 70%;
}


.net {
    width: 50%;
}

.js {
    width: 51%;
}

.java {
    width: 20%;
}

.node {
    width: 15%;
}

.react {
    width: 5%;
}

.docker {
    width: 10%;
}


/* -----------------------------------------EXPERIENCE----------------------------------------------------------- */
#experience {
    background-color: var(--bg-light);
    width: 100%;
}

#experience h2 {
    color: var(--text-secondary);
}

.exp {
    display: grid;
    grid-template-columns: 1fr 2px 1fr;
    grid-template-rows: 1fr;
    place-content: center center;
    /*place-items: center center;*/
    align-items: center;
    gap: 0px 30px;

}


.exp-date {
    font-weight: 600;
}

.exp-separator {
    display: flex;
    align-items: center;
    width: 2px;
    height: 100%;
    background: black;
}

.point {
    height: 0.8rem;
    width: 0.8rem;
    background: #00ff99;
    border-radius: 10px;
}

.exp-details {
    background: white;
    color: black;
    padding: 1rem;
    border-radius: 10px;
    transition: transform 1s;
    transition-duration: 0.5s;
}

.exp-details:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
}

.exp-details a {
    color: #f1c40f;
}

/*EDUCATION */
#education {
    background: var(--bg-light);
    width: 100%;
}


.table > :not(caption) > * > * {
    background: var(--bg-light);
    color: var(--text-secondary);
    padding: 2px;
}

#education .heading h2 {
    color: var(--text-secondary);
}


/* --------------------------------- FOOTER------------------------------------------------------------------- */
footer {
    background: #333;
    padding: 2rem 2rem;
    text-align: center;
    font-size: 2rem;
}

footer svg {
    font-size: 0.8rem;
}

footer .fa-chevron-up {
    font-size: 25px;
    margin: 20px;
    color: #d82c2e;
    height: 31px;
}

footer .fa-chevron-up:hover {
    font-size: 29px;
}

footer h5 {
    color: white;
    text-shadow: 1px 1px 1px black;
}