.youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
}

.jst-hours {
    display: none;
}
.jst-minutes {
    float: left;
}
.jst-seconds {
    float: left;
}
.jst-clearDiv {
    clear: both;
}
.jst-timeout {
    color: white;
}

.see{
    padding-top: 22px;
    padding-bottom: 20px;
    color:#212529;
}

.action-bg{
    background-color: #95a5a6;
}

.bg-main-prog{
    background-color: #e74c3c;
}