.youtube-video {
    aspect-ratio: 16 / 9;
    width: 100%;
}

.jst-hours {
    display: none;
}
.jst-minutes {
    float: left;
}
.jst-seconds {
    float: left;
}
.jst-clearDiv {
    clear: both;
}
.jst-timeout {
    color: white;
}