<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            CHAKHGUEREEV-DEV
        {% endblock %}
    </title>
    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}">

    {% block stylesheets %}
        <link rel="stylesheet"
              href="{{ asset('assets/fontawesome-free-6.4.0-web/fontawesome-free-6.4.0-web/css/all.css') }}"
              type="text/css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    {% endblock %}

    {% block javascripts %}

    {% endblock %}
</head>

<body>
<div class="vp-container">
    {% block body %}

    {% endblock %}
</div>
</body>
</html>
